<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="This field contains information about web page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="Samuel Chen">
    <title>Home - Samuel's Website</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="../static/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="../static/css/styles.min.css">
    <link rel="shortcut icon" type="image/png" href="../static/image/favicon.png">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="index.html">Samuel Chen</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
            id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item item" role="presentation"><a class="nav-link active" href="index.html">Home</a></li>
                <li class="nav-item item" role="presentation"><a class="nav-link" href="cv.html">CV</a></li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
    <div class="container"><a class="navbar-brand logo" href="index.html">Samuel Chen</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
        id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html">Home</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="cv.html">CV</a></li>
        </ul>
    </div>
</div>
</nav>
<main class="page lanidng-page">
    <section class="portfolio-block block-intro">
        <div class="container">
            <div class="avatar" style="background-image:url(&quot;../static/image/avatars/me.jpg&quot;);"></div>
            <div class="about-me">
                <p>Hello! I am <strong>Samuel Chen.</strong><br>
                    Welcome to my <strong>website!</strong>
                </p>
                <a download href="../static/Resume.pdf">
                    <button class="btn btn-outline-primary" type="button">Download my resume</button>
                </a>
            </div>
        </div><span class="badge badge-primary"></span></section>
        <section class="portfolio-block call-to-action border-bottom">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content">
                    <h2>Enjoy your time on my website!</h2>                           
                </div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <div class="container">
                <div class="heading">
                    <h2>Skills and Achievements</h2>
                </div>
                <div class="skills portfolio-info-card">
                    <h2>Skills</h2>
                    <h3>HTML</h3>
                    <div class="progress">
                        <div class="progress-bar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"><span class="sr-only">90%</span></div>
                    </div>
                    <h3>Python</h3>
                    <div class="progress">
                        <div class="progress-bar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="sr-only">80%</span></div>
                    </div>
                    <h3>JavaScript</h3>
                    <div class="progress">
                        <div class="progress-bar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"><span class="sr-only">75%</span></div>
                    </div>
                    <h3>CSS</h3>
                    <div class="progress">
                        <div class="progress-bar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"><span class="sr-only">85%</span></div>
                    </div>
                    <h3>C</h3>
                    <div class="progress">
                        <div class="progress-bar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"><span class="sr-only">95%</span></div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Website Making</h3>
                                <p class="card-text">I started web development in April 2020. I really enjoy creating websites, and I am excited to share it with you.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ribbon-a"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Euclid Math Contest Top 4%</h3>
                                <h4 class="card-title">2019</h4>
                                <p class="card-text">The Euclid Mathematics Contest is an opportunity for students to develop and demonstrate their mathematical problem solving ability with nealy 24000 participants from all over the world every year.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-stats-bars"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Data Visualization</h3>
                                <p class="card-text">I have been doing data visualization since my last year in high school. I love data visualization and how it makes our life and work easier.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
    <div class="projects-horizontal">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Hobbies </h2>
                <p class="text-center">Besides academic study, I have lots of hobbies.</p>
            </div>
            <div class="row projects">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="https://www.youtube.com/watch?v=cIxGUAnj46U"><img class="img-fluid" src="../static/image/piano.jpg"></a></div>
                        <div class="col">
                            <h3 class="name">Piano</h3>
                            <p class="description">I have been playing the piano for more than ten years. I play piano to relax and express my creativity. Lang Lang is my favorite pianist.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="https://www.youtube.com/watch?v=-19hK8TF-GY"><img class="img-fluid" src="../static/image/basketball.jpg"></a></div>
                        <div class="col">
                            <h3 class="name">Basketball</h3>
                            <p class="description">Basketball is a cooperative sport, it taught me how to work with others as a team and the importance of cooperation.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="../static/image/cooking.jpg"></a></div>
                        <div class="col">
                            <h3 class="name">Cooking</h3>
                            <p class="description">During my spare time, I love to cook and share it with my family and friends. It is important to enjoy our everyday life.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="https://www.youtube.com/watch?v=14xZ8iiFPYc"><img class="img-fluid" src="../static/image/marathon.jpg"></a></div>
                        <div class="col">
                            <h3 class="name">Marathon</h3>
                            <p class="description">Marathon is one of my favorite sports. It gives me an amazing feeling of accomplishment.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="portfolio-block website gradient">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3>Website and Me</h3>
                    <p>Without previous website devleopment experience, I started implementing this website by learning and practing relevant materials during my spare time, which lead me to the wonderful world of making website!</p>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div class="portfolio-laptop-mockup">
                        <div class="screen">
                            <div class="screen-content" style="background-image:url(&quot;../static/image/tech/image4.jpg&quot;);"></div>
                        </div>
                        <div class="keyboard"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="page-footer">
        <div class="container">
            <div class="links">
                <a href="cv.html">About me</a>
                <a href="mailto:samuel.0413kb@gmail.com">Contact me</a>
            </div>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/samuel-xiaoyang-chen/"><i class="icon ion-social-linkedin"></i></a>
                <a href="https://github.com/Samuel0413?tab=repositories"><i class="icon ion-social-github"></i></a>
                <a href="https://www.instagram.com/samuel.0413kb/?hl=en"><i class="ion-social-instagram-outline"></i></a>
            </div>
        </div>
    </footer>
    <script src="../static/javascript/jquery.min.js"></script>
    <script src="../static/javascript/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="../static/javascript/script.min.js"></script>
</body>

</html>